.__header {
    display: flex;
}

.__header_content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.__header_content h1 {
    font-family: var(--font-family);
    font-weight: 800;

    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.__header_content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.__header_image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__header_image img {
    width: 90%;
    height: auto;
}
@media screen and (max-width: 1400px) {

    .__header_image img {
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width: 1050px) {
    .__header {
        flex-direction: column;
    }

    .__header_content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .__header_content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .__header_content p {
        font-size: 16px;
        line-height: 24px;
    }   
}

@media screen and (max-width: 490px) {
    .__header_content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .__header_content p {
        font-size: 14px;
        line-height: 24px;
    }
}